html {
  background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj3wYeDv-7gAhXr44MKHUIJB8MQjRx6BAgBEAU&url=https%3A%2F%2Fgiphy.com%2Fgifs%2Fcupcakes-13obGty3LjvgM8&psig=AOvVaw1WF4sW-yXs0cTKp9ovtkFK&ust=1551995236417894) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
